.App {
  text-align: center;
}
.user {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.del {
  background-color: red;
}
.upd {
  background-color: greenyellow;
}
.button {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
.jumb {
  text-align: center;
}
